.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exchange_rates_block_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  box-shadow: 15px 8px 15px -7px rgba(0,0,0,0.07);
  margin: 2rem;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  height: 100vh;
  overflow: scroll;
  /* border: 1px solid rgba(0,0,0,0.07); */
}